*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
/.pnp
/build
/coverage
/node_modules
/public/bundle.*
/viklund
daleri-mega
dalerimega
npm-debug.log*
yarn-debug.log*
yarn-error.log*
